# use "sudo apt-get install python3.7-dev" first if needed
# use "sudo apt install python3.7-distutils" first if needed
# use "sudo apt-get install python3.7-tk" first if needed
# use "sudo apt-get install scrot" first if needed
# use "pip install windows-curses" for windows system

tk
pyscreeze==0.1.28
click==6.7
matplotlib==3.1.2
numpy==1.17.4
PyAutoGUI==0.9.53
PyChromeDevTools==0.4
pynput==1.7.6
pyquery==2.0.0
PySimpleGUI==4.60.4
pyvisauto==1.0.3
requests
lxml==4.2.5
flake8==3.7.8
pyppeteer==1.0.2
